<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <meta charset="UTF-8">
    <title>Participant List</title>
</head>
<body>
    <h1>Participant List</h1>
    <ul>
        {% for participant in participant_data %}
            <li>{{ participant.name }} - {{ participant.phone_number }} - {{ participant.event }}</li>
        {% endfor %}
    </ul>
    <a href="/register_participant">Register Another Participant</a>
</body>
</html>
